.table , .th , .td{
    border: 2px solid #f5f5f5;
    color:#f5f5f5;
}
.th{
background:#1F1F1F ;
}
.table{
    flex-direction: row;
    background: rgba(114, 104, 211, 0.8) ;
    margin: 50px 50px;

}
#form{
    background: rgba(114, 104, 211, 0.8) ;
    padding: 60px;
    margin: 50px 80px;

}
input{
    margin-bottom: 40px;

}
#form label{
    font-size:25px;
    color:#f5f5f5 ;
    width: 90%;
    text-align: center;
}

select{
    width: 90%;
    font-size:25px;

}
#parent{
    background-image: url(school.jpg);
    display:flex;
    flex-direction: row;
}
h1{
    text-align:center;
    font-size:35px;
padding:10px;

    background:#1F1F1F ;
    color:#f5f5f5 ;
    /* background: rgba(114, 104, 211, 0.8) ; */
    /* background:#3D3D3D; ; */

}

#button{
    color:#f5f5f5 ;
    background:#1F1F1F ;
    font-size: 20px;
    padding: 10px 20px;
margin-top:20px;
}